body {
    
}
#map {
            position: absolute;
            top: 0;
            bottom: 0;
            float: left;
            width: 100%;
}


.leaflet-popup-content-wrapper {
    
}
.leaflet-container {
	font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.leaflet-popup-content {
	margin: 10px 20px;
	line-height: 1.4;
	}

 table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
.buttonpop {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}
.buttonpopexit {
    background-color: #f70c17;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    float: right;
}




/*Search Box*/

#search {
    margin: auto;
    position: relative;
    left: 20%;
   
    z-index: 1000;
    
}



#searchbutton {
    
}
/*.container{
  overflow: hidden;
  width: 800px;
  vertical-align: middle;
  white-space: nowrap;
  margin:auto;
}
.container input#search{
  width: 800px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container input#search::-webkit-input-placeholder {
   color: #65737e;
}*/
 
/*.container input#search:-moz-placeholder { 
   color: #65737e;  
}*/
 
/*.container input#search::-moz-placeholder {  
   color: #65737e;  
}*/
 
/*.container input#search:-ms-input-placeholder {  
   color: #65737e;  
}*/
/*.container button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: 1px;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #fff5ee;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}*/
/*.container:hover button.icon, .container:active button.icon, .container:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }*/
 
  /*.container:hover button.icon:hover{
    background: white;
  }*/


